<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas tutorial</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id="main-container">
        
        <div id="canvas-container" class="box">
            <canvas id="canvas" width="1000" height="850"></canvas>
        </div> 
        <div id="data-container" class="box">
            <div id="header">
                <a href="/">Main page</a>
            </div>
            <div id="template-container"> 
                <div class="centered-wrapper">
                <% if (user) { %> 
                <form>
                    <label for="sname" class="SystemName">Save system by name:</label>
                    <input type="text" id="sname" name="sname">
                    <div id="save-error"></div>
                    <input type="button" value="Save system" onclick="postSaveSystem()">
                </form>
                <% } %>
                <h1 class="editortxt">EDITOR</h1>
                <div id="editor-planet-list">

                </div>
                <input type="button" value="Add planet" onclick="addPlanet()">
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/planet.js"></script>
    <% if (systemToRender) { %>
        <script> const toRender = '<%= systemToRender %>'; </script>
        <script src="/scripts/editorLoadAnimation.js"></script>
    <% } else { %>
    <script>
        window.planetList = [];
        //let planetNum;
    </script> 
    <% } %>
    <script src="/scripts/editor.js"></script>
    <script src="/scripts/queries.js"></script>
</body>
</html>