<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas tutorial</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id="main-container">
        
        <div id="canvas-container" class="box">
            <canvas id="canvas" width="1000" height="850"></canvas>
            
        </div> 

        <div id="data-container" class="box">
            <%- include('content', {toRender: 'sign-in'}) %>      
        </div>
    </div>
    
    <script src="/scripts/planet.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/queries.js"></script>
</body>
</html>