<% if (user) { %>
<div class="centered-wrapper">  
    <h1>Welcome <%= user.username %>, registration is successful!</h1>
</div>
<% } else { %>
<div class="form-container">
    <h1 class="MainS2">SIGN UP</h1>
    <form class="user-form">
        <label for="username-field">Username</label>
        <input id="username-field" type="text"><br>
        <div id="username-error"></div><br>
        
        <label for="password-field">Password</label>
        <input id="password-field" type="password"><br>
        <div id="password-error"></div><br>
        
        <input type="button" value="Submit" onclick="postSignUp()">
    </form>
    <input class="redirect-button" type="button"  value="Have an account? Sign In" onclick="getSignIn()">
</div>
<% } %>