<div class="form-container">
    <form class="user-form">
        <input type="text"><br>
        <input type="text"><br>
        <input type="button" onclick="signIn()">
    </form>
    <h1>QWERTUIQWEUQWOE</h1>
</div>